<div class="d-flex flex-column gap-5">
	<nav class="navbar d-flex space-between align-items-center">
		<h1><%= @user.name %></h1>

		<div class="d-flex gap-3 ms-auto align-items-center">
			<%= link_to edit_user_path(@user), class: "btn btn-outline-warning" do %>
				<i class="bi bi-gear"></i> Edit user
			<% end %>

			<%= link_to root_path, class: "btn btn-outline-secondary" do %>
				<i class="bi bi-arrow-left"></i> Back
			<% end %>

			<%= button_to @user, method: :delete, class: "btn btn-outline-danger", data: { turbo_confirm: "Are you sure you want to destroy #{@user.name} user?"} do %>
				<i class="bi bi-trash"></i> Destroy user
			<% end %>
		</div>
	</nav>

	<section>
		<%= render @user %>
	</section>
</div>