<!DOCTYPE html>
<html data-bs-theme="dark">
	<head>
		<title><%= content_for(:title) || "Public Pool's Web" %></title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="mobile-web-app-capable" content="yes">

		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>

		<%= yield :head %>

		<link rel="icon" href="/icon.png" type="image/png">
		<link rel="icon" href="/icon.svg" type="image/svg+xml">
		<link rel="apple-touch-icon" href="/icon.png">

		<%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
		<%= javascript_importmap_tags %>
		<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
	</head>

	<body>
		<nav class="navbar sticky-top mb-5 border-bottom">
			<div class="container-fluid px-2 px-lg-5">
				<a href="<%= root_path %>" class="navbar-brand d-flex align-items-center gap-3">
					<%= image_tag "/icon.svg", alt: "Public Pool's Web icon", with: "32", height: "32" %>
					<span>Public Pool's Web</span>
				</a>

				<div class="d-flex gap-3">
					<div class="d-none d-lg-flex gap-3">
						<%= render 'shared/logos' %>
					</div>

					<a class="btn" data-bs-toggle="offcanvas" href="#offcanvasMenu" role="button" aria-controls="offcanvasMenu">
						<i class="bi bi-list"></i>
					</a>
				</div>
			</div>
		</nav>

		<main class="container py-4">
			<%= yield %>
		</main>

		<%= render 'shared/side' %>
	</body>
</html>
